NEXT_PUBLIC_GRAFBASE_API_URL=https://hyusuvcl-main-bvislao.grafbase.app/graphql
NEXT_PUBLIC_GRAFBASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTQ3MTkwMzEsImlzcyI6ImdyYWZiYXNlIiwiYXVkIjoiMDFIQUFKMERRU0czUUVESE1ZMjFTMktUOFQiLCJqdGkiOiIwMUhBQUowRTkxSFRKRVAzRlQxWjFGWERBNyIsImVudiI6InByb2R1Y3Rpb24iLCJwdXJwb3NlIjoicHJvamVjdC1hcGkta2V5In0.GucdkKjbZHEaWx5yNKi-qAEPgTJ6Jb9VGoEqOCWXrxI
GOOGLE_CLIENT_ID=210903937239-q9lmbstmt569cis5asnar83eiiodh5vk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_SECRET=oARBPko0DoZIl7fFosL3ymhKR7tBeIpZ0gSqleCaJE0=
NEXTAUTH_URL=http://localhost:3000